#title,h1{
    text-align:center;
    font-size: 18pt;   
    margin-top:10px;
    font-family:"Arial";
}

form{
    padding:50px;
    font-size:15pt;
    font-family:"Times New Roman";
}

li{
    margin-left:auto;
    margin-right:auto;
    list-style-type: none; 
    border:0.5px solid black;
    border-collapse:collapse;
    padding:10px;
    counter-increment: search;
    width:65%;
    font-size: 13pt;
    background-image: linear-gradient( 25deg, #BAE3FF, #08ADFF);
}

#back{
    background: #e6f9ff;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
}

li:first-child{
    border-radius: 10px 10px 0px 0px;
}

li:last-child{
    border-radius: 0px 0px 10px 10px;
}
li:before {
    
    content: counter(search);
    padding: 60px;
}
